@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

#__next{
  width: 100%;
  height: 100%;
}

.text-gradient-light{
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    rgb(37, 173, 155) 0.89%,
    #5fc8cb 17.23%,
    #699a9c 42.04%,
    #336163 55.12%,
    rgb(114, 193, 182) 71.54%,
    #33bbcf 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    rgb(45, 212, 191) 0.89%,
    #5fc8cb 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    rgb(114, 193, 182) 71.54%,
    #33bbcf 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}
